body {
  background: url(./images/dark-sky.jpg);
  background-size: cover;
}

.App {
  font-family: "Noto Sans Georgian", sans-serif;
  color: white;
}

.App a {
  color: #ff6100;
}

.App .main {
  max-width: 800px;
  padding: 20px 25px;
}
