.CurrentTemp {
  font-size: 80px;
  text-align: center;
}
.CurrentTempBlock {
  padding: 20px 0;
}

.Units {
  position: relative;
  top: -50px;
  font-size: 20px;
}

.Active {
  cursor: default;
  color: #fff;
  text-decoration: none;
}
