.CurrentTemperature .CurrentTemp {
  font-size: 80px;
}

.CurrentTemperature .Units {
  position: relative;
  top: -50px;
  left: -25px;
  font-size: 20px;
}

@media (max-width: 770px) {
  .CurrentTemperature .CurrentTemp {
    font-size: 70px;
  }

  .CurrentTemperature .Units {
    position: relative;
    top: -40px;
    left: -15px;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .CurrentTemperature .CurrentTemp {
    font-size: 60px;
  }

  .CurrentTemperature .Units {
    position: relative;
    top: -30px;
    left: -13px;
    font-size: 18px;
  }
}

@media (max-width: 570px) {
  .CurrentTemperature .Units {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .CurrentTemperature .CurrentTemp {
    font-size: 45px;
  }
  .CurrentTemperature .Units {
    position: relative;
    top: -22px;
    left: -9px;
    font-size: 15px;
  }
}
