.weather-forecast {
  padding: 20px 20px 10px;
}

p {
  margin: 0;
}

.WeatherForecast .card {
  height: 200px;
  background: rgba(74, 144, 226, 0.1);
}
.card:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgba(74, 144, 226, 0.3);
}

h2 {
  color: #ff6100;
  font-size: 23px;
}

.forecast-temperatures {
  margin: 5px;
  font-size: 18px;
}

.card-night-temperature {
  opacity: 0.6;
}
